h1{
    font-size: 300%;
    font-family: fantasy;
    text-align: center;
    
}

header{
	background-color:lightgreen;
	height: 70px;
    margin: 0px;

}

label{
    text-align: center;
    font-size: x-large;
}

body{
    flex-grow: 3;
	background-image:url("");
    background-repeat: no-repeat;
    background-size:cover;
    text-align: left;
	padding: 30px;
    margin: -8px;
    height: 990px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: top;
    height: auto;
    overflow: auto;
    padding-bottom: 300px;
    box-shadow: 7px 7px 5px black;
    padding-bottom: auto;

}

  
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-family: fantasy;
    font-size: x-large;
    
}
  
li a.active {
    background-color: #04AA6D;
    color: white;
}
  
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.pic1{
    width: 275px;
	height: 200px;
    border-style: inset;
    border-width: 5px;
    border-color: white;
	padding: 0px;
    box-shadow: 7px 7px 5px black;
}

#kleinertext{
    font-size: small;
    padding-right: 55px;
}